.Menu{
	float: right;
	position: fixed;
	top:0;
    right: 0;
	z-index: 0;
	width: 20%;
	height: 100%;

}
#logo{

	position: fixed;
	top: 0;
	left: 0;
	//z-index: 1;
   // width: 100%;
  // height: 10%;
	
}
#content{
	float: left;
	width: 80%;
	position: absolute;
	z-index: 0;
}
#MenuBt{
	position:absolute;
	height:1000px;
    left:5px; /* play around with this */
    top:5px; /* and play around with this */
    width:500px;
}
#Bg_menu{
	max-width:100%;
	max-height:100%;
    margin-left:auto;
    margin-right:auto;
    position:relative; /* and this has to be relative */
    width:100%;
	
}
#Bt_rev{
	background-image: url('../Pic/NBt_rev.png');
	height: 150px;
    width: 150px;
	position: absolute;
	z-index: 2;
	left: -1%;
}
#Bt_rev:hover{
	background-image: url('../Pic/Bt_review.png');
	
}

#Bt_news{
	background-image: url('../Pic/NBt_news.png');
	height: 150px;
    width: 150px;
	position: absolute;
	z-index: 2;
	top: 15%;
	left: -2%;
}
#Bt_news:hover{
	background-image: url('../Pic/Bt_news.png');
	
}

#Bt_hme{
	background-image: url('../Pic/NBt_hme.png');
	height: 150px;
    width: 150px;
	position: absolute;
	z-index: 2;
	left: 23%;
}
#Bt_hme:hover{
	background-image: url('../Pic/Bt_home.png');
	
}

#Bt_gft{
	background-image: url('../Pic/NBt_gft.png');
	height: 150px;
    width: 150px;
	position: absolute;
	z-index: 2;
	left: 23%;
	top: 15%;
}
#Bt_gft:hover{
	background-image: url('../Pic/Bt_gift.png');
	
}
